.card {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.btn-action {
    height: 40px;
    font-size: 16px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 3px;
    border: none;
}

.btn-action svg{
    height: 100%;
    aspect-ratio: 1;
}
.btn-action div {
    padding: 5px;

}

.btn-action:hover {
    background-color: rgb(223, 223, 223);
}
