.task-container {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;

}

.layout {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.create-new-btn {
    height: 40px;
    padding: 10px;
    position: fixed;
    right: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 5px black;
    bottom: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    transition: background-color 100ms ease-in;
}

.create-new-btn:hover {
    background-color: rgb(62, 173, 83);
    cursor: pointer;
}

.create-new-btn:active {
    background-color: rgb(43, 121, 57);
}


.create-new-btn:hover div {
    max-width: 200px;
}

.create-new-btn div {
    height: 100%;
    text-align: center;
    max-width: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    text-wrap: nowrap;
    transition: max-width 300ms ease-in;
}

.create-new-btn svg {
    height: 90%;
    aspect-ratio: 1;
}

.empty-text {
    font-size: 22px;
    padding: 10px;
    color: gray;
    text-align: center;
}

@media (max-width: 768px) {
    .layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .layout {
        grid-template-columns: repeat(1, 1fr);
    }
}